/* NavBar.css */
.navbar {
  background-color: rgba(255, 255, 255, 0.986); /* Dark blue background */
  color: #ecf0f1; /* Light text color */
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.scrolled {
  background-color: white; /* Change color on scroll */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px; /* Adjust logo size */
  margin-left: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 8px; /* Blob height */
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3498db; /* Default blob color */
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.nav-links li:hover::after,
.nav-links li.active::after {
  width: 100%;
}

/* Different colors for each page */
.nav-links li:nth-child(1)::after {
  background-color: #ff6347; /* Different color for the first page */
}

.nav-links li:nth-child(2)::after {
  background-color: #32cd32; /* Different color for the second page */
}

.nav-links li:nth-child(3)::after {
  background-color: #9370db; /* Different color for the third page */
}

.nav-links li:nth-child(4)::after {
  background-color: #ffd700; /* Different color for the fourth page */
}

.nav-links li:nth-child(5)::after {
  background-color: #8a2be2; /* Different color for the fifth page */
}
